---
layout: layout.njk
title: 
---



<div class="about-container">
  
  <img src="/images/katieswap.jpg" class="about-image">

  <div class="about-text">
    <h1> 
    Welcome To My Bloggy
    </h1>
    <p>
      My name is Katie and this is my doggy. 
      My Mission: put a smile on the lips of the world. Show me some teeth, girl.
    </p>
  </div>

</div>