---
layout: layout.njk
title: 
---



<div class="about-container">
  
  <img src="/images/katieswap.jpg" class="about-image">

  <div class="about-text">
    <h1>About</h1>
    <p>
      This is where your text goes. You can write about your work, ideas,
      weird experiments, whatever.
    </p>
  </div>

</div>